<IfModule mod_rewrite.c>
    RewriteEngine On

    # Stop processing if already in the /public directory
    RewriteRule ^resources/views/ - [L]

    # Static resources if they exist
    RewriteCond resources/views/$1 -f
    RewriteRule (.+) resources/views/$1 [L]

    # Route all other requests
    # <!-- RewriteRule (.*) index.html?route=$1 [L,QSA] -->
</IfModule>